Source: opx-nas-ndi-api
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,autotools-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/open-switch/opx-nas-ndi-api
Vcs-Git: https://github.com/open-switch/opx-nas-ndi-api.git

Package: opx-ndi-api-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains NAS NDI API code

